<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7-7pidGa69r2fnpxpdIsv7aFXpGSzEds</string>
	<key>GCM_SENDER_ID</key>
	<string>49149788385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RecipeMap</string>
	<key>PROJECT_ID</key>
	<string>appp-82395</string>
	<key>STORAGE_BUCKET</key>
	<string>appp-82395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49149788385:ios:e4542b824b562d5e52f7a0</string>
</dict>
</plist>